%header
  %h2
    ="#{@user.username}'s Blog"
  = link_to '#' do
    Edit profile
  %br
  = link_to '#' do
    Logout
  %br
  = link_to '#' do
    New post

.posts
  - @posts.each do |post|
    .post
      %h3= post.title
      %p= post.content
