%header
  %h2
    "#{@user.username}'s Blog"
  = link_to '#' do
    Edit profile
  %br
  = link_to '#' do
    Logout
  %br
  = link_to new_user_post_path(user_username: @user.username) do
    New post
  %br
  %hr
  %br

.posts
  - @posts.each do |post|
    .post_preview
      %h3= post.title
      %p= post.content
    .post_actions
      = link_to user_post_path(user_username: post.user, title: post) do
        Show
      = link_to edit_user_post_path(user_username: post.user, title: post) do
        Edit
      = link_to user_post_path(user_username: post.user, title: post),
                method: :delete,
                data: { confirm: 'Are you sure you want to delete this post?' } do
        Delete
