.post
  %h1= @post.title
  %p= @post.content
%hr
.comment_form
  = form_for(@comment) do |f|
    = f.text_area(:content)
    = f.hidden_field(:post_id, value: @post.id)
    %br
    = f.submit('Comment')
%hr
.comments
  - @post.comments.each do |comment|
    .comment
      %h5= comment.user.username
      %p= comment.content
    .comment_actions
      = link_to 'Delete', comment_path(comment), method: :delete,
                data: { confirm: 'Are you sure you want to delete this comment?'} if session[:user_id] == comment.user.id
    %br
